<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Screenshots</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/scr_main.png">
                <span>main view</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/scr_selective.png">
              <span>automatic or manual select</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/scr_locale.png">
              <span>locale selection</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/scr_translate.png">
                <span>text entry</span>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
